@model IEnumerable<MyLibrary.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="my-2">
    <form class="row row-cols-lg-auto g-3 align-items-center">
  <div class="col-12">
    <label class="visually-hidden" for="inlineFormSelectPref">Genres</label>
    <select class="form-select" id="genreId">
      <option selected>Choose...</option>
      <option value="1">plc1</option>
      <option value="2">plc2</option>
      <option value="3">plc3</option>
    </select>
  </div>

        <div class="col-12">
            <label class="visually-hidden" for="inlineFormInputGroupUsername">Search book</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" id="" placeholder="Enter phrase">
            </div>
        </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>
</div>



<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="w-100 mt-4 d-flex flex-wrap">
    @*@foreach (var item in Model)*@
    @for (int i = 1; i <= 9; i++)
    {
        <div class="card mx-3 mb-4" style="width: 16rem;">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                <a href="#" class="btn btn-primary">Go somewhere</a>
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a>*@
            </div>
        </div>
    }
</div>

@*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}*@
    
